<aside class="left-pane">
    <!-- Site Title with Digital Clock -->
    <a href="#" rel="home-page">DAVID'S MARGINS</a> <span class="digital-clock" style="color: rgba(0, 0, 0, 0.4);"><digital-clock pad-hour="true" twentyfour-hour="true" value="{hour}:{minute}:{second}"></digital-clock></span>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <!-- About Section -->
    <hr>ABOUT<br>
    <a href="contact-form" rel="history">davidadams14159@gmail.com</a><br>
    <a href="https://www.instagram.com/davidadams2718/" target="_blank">Instagram</a><br>
    <br>
    <div style="text-align: left;">
        Vestibulum et dignissim magna. Nullam at ultrices felis. Suspendisse facilisis sagittis sem sit amet tempor. Nam sit amet nibh et enim laoreet porta sit amet vel purus. Maecenas augue velit, feugiat in maximus id, auctor vel ex. Integer placerat massa nec tellus.
    </div><br>
    <a href="contact-form" rel="history">CONTACT</a>
</aside> 