<span class="pane-header">ALL PROJECTS</span><br>
<br>
<br>
<br>
<br>
<hr>
<column-set gutter="1rem">
    <column-unit slot="1" span="8">
        <ul>
            <li><a href="documents/resume.pdf" target="_blank">Resume</a></li>
            <li><a href="documents/project-report.pdf" target="_blank">Project Report</a></li>
            <li><a href="documents/whitepaper.pdf" target="_blank">Whitepaper</a></li>
            <li><a href="documents/financials.xlsx" target="_blank">Financials</a></li>
            <li><a href="documents/data-analysis.xlsx" target="_blank">Data Analysis</a></li>
            <li><a href="documents/presentation1.pptx" target="_blank">Quarterly Review</a></li>
            <li><a href="documents/presentation2.pptx" target="_blank">AI Strategy Overview</a></li>
        </ul>
    </column-unit>
</column-set>
<br><br>
<span style="color: rgba(0, 0, 0, 0.4);">Last Updated 24.10.31</span> 